h3, h4 {
  text-align: center;
}

.scenarioForm {
  padding-right: 16px;
  padding-left: 16px;
}

.input-group {
  width: 100%;
}

.form-control {
  width: 65%;
}

.input-group-addon {
  width: 35%;
}
